<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		<title>交友中心 - {$CONF['mallTitle']}</title>
  		<meta name="keywords" content="{$CONF['mallKeywords']}" />
      	<meta name="description" content="{$CONF['mallDesc']},交友中心" />
  		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">

  		<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/common.css" />
    	<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/shop.css">
    	<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/webuploader/webuploader.css" />

		<if condition='$umark eq "recommendAtlas"'>
			<link rel="stylesheet" href="__ROOT__/Apps/Home/View/default/css/structure.css">
		</if>

      	<script>
		var publicurl = '__PUBLIC__/';
	</script>
        {:WSTLoginTarget(0)}
    </head>
    <body>
        <div class="wst-wrap">
          <div class='wst-header'>
			<include file="./Apps/Home/View/default/header_nav.html" />
			<div class='wst-user-top'>
			<div class="wst-user-top-main">
					<div class='wst-user-top-logo'>
						<a href="{:WSTDomain()}"  title='商城首页'>
						<img src="{:WSTDomain()}/{$CONF['mallLogo']}" height="132" width='240'/>
						</a>
					</div>

					<div class='wst-user-top-search'>
						<div class="search-box">
							<input id="wst-search-type" type="hidden" value="1"/>
							<input id="keyword" class="wst-search-ipt" me="q" tabindex="9" placeholder="搜索 商品" autocomplete="off" >
							<div id="btnsch" class="wst-search-btn">搜&nbsp;索</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="wst-shop-nav">
				<div class="wst-nav-box">
					<li class="liselect" style="float:left;"><a href="{:U('Home/Members/index')}" style='color:#FFFFFF;'>交友中心</a></li>
					<div class="wst-clear"></div>
				</div>
			</div>
			<div class="wst-clear;"></div>
		</div>
          <div class='wst-nav'></div>
          <div class='wst-main'>
            <div class='wst-menu'>

            	<span class='wst-menu-title' style='border-top:0px;'><span></span>团队信息</span>
          		<a style="display:block;" href="{:U('Home/Members/recommendList/')}"><li <if condition='$umark eq "recommendList"'> class='liselect'</if>>我的推荐</li></a>
              	<a style="display:block;" href="{:U('Home/Members/teamList/')}"><li <if condition='$umark eq "teamList"'> class='liselect'</if>>我的团队</li></a>
               	<a style="display:block;" href="{:U('Home/Members/recommendAtlas/')}"><li <if condition='$umark eq "recommendAtlas" or $umark eq "recommendAdd"'> class='liselect'</if>>推荐图谱</li></a>

              	<span class='wst-menu-title' style='border-top:0px;'><span></span>会员审核</span>
            	<a style="display:block;" href="{:U('Home/Members/auditOut/')}"><li <if condition='$umark eq "auditOut"'> class='liselect'</if>>我发出的审核</li></a>
              	<a style="display:block;" href="{:U('Home/Members/auditIn/')}"><li <if condition='$umark eq "auditIn"'> class='liselect'</if>>我收到的审核</li></a>

                <span class='wst-menu-title' style='border-top:0px;'><span></span>会员升级</span>
				<a style="display:block;" href="{:U('Home/Members/promoteOut/')}"><li <if condition='$umark eq "promoteOut"'> class='liselect'</if>>我发出的升级</li></a>
				<a style="display:block;" href="{:U('Home/Members/promoteIn/')}"><li <if condition='$umark eq "promoteIn"'> class='liselect'</if>>我收到的升级</li></a>
                
            </div>
            <div class='wst-content'>
            <block name="content"><div class="result">交友中心</div></block>
            </div>
          </div>
          <div style='clear:both;'></div>
          <br/>
          <div class='wst-footer'>
          	<include file="./Apps/Home/View/default/footer.html" />
          </div>
        </div>
    </body>
      	<script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
     	<script src="__PUBLIC__/js/common.js"></script>
      	<script src="__ROOT__/Apps/Home/View/default/js/head.js"></script>
      	<script src="__ROOT__/Apps/Home/View/default/js/common.js"></script>
		<script src="__ROOT__/Apps/Home/View/default/js/jquery.ui.draggable.min.js"></script>
		<script src="__ROOT__/Apps/Home/View/default/js/structure.js"></script>
      	<script src="__PUBLIC__/plugins/layer/layer.min.js"></script>
		<script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
		<if condition='$umark eq "recommendAdd"'>
			<script>
				$(function () {
					$.formValidator.initConfig({
						theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
						edit();
						return false;
					}});
					$("#loginName").formValidator({onShow:"",onFocus:"会员账号应该为5-16字母、数字或下划线",onCorrect:"输入正确"}).inputValidator({min:5,max:16,onError:"会员账号应该为5-16字母、数字或下划线"}).regexValidator({
					regExp:"username",dataType:"enum",onError:"会员账号格式错误"
					}).ajaxValidator({
					dataType : "json",
					async : true,
					url : "{:U('Admin/Users/checkLoginKey')}",
					success : function(data){
					var json = WST.toJson(data);
					if( json.status == "1" ) {
					return true;
					} else {
					return false;
					}
					return "该账号已被使用";
					},
					buttons: $("#dosubmit"),
					onError : "该账号已存在。",
					onWait : "请稍候..."
					}).defaultPassed();
					$("#userName").formValidator({
					onShow:"",onFocus:"请输入真实用户名"
					}).inputValidator({
					min:1,max:50,onError:"请输入正确的用户名"
					});
//					$("#userPhone").formValidator({
//					onShow:"",onFocus:"请输入正确的手机号"
//					}).inputValidator({min:11,max:11,onError:"你输入的手机号码非法,请确认"}).regexValidator({
//					regExp:"mobile",dataType:"enum",onError:"手机号码格式错误"
//					}).ajaxValidator({
//					dataType : "json",
//					async : true,
//					url : "{:U('Admin/Users/checkLoginKey')}",
//					success : function(data){
//					var json = WST.toJson(data);
//					if( json.status == "1" ) {
//					return true;
//					} else {
//					return false;
//					}
//					return "该手机号码已被使用";
//					},
//					buttons: $("#dosubmit"),
//					onError : "该手机号码已存在。",
//					onWait : "请稍候..."
//					}).defaultPassed();
//					$("#userIdcard").formValidator({
//					onShow:"",onFocus:"请输入正确的身份证号"
//					}).inputValidator({min:17,max:18,onError:"你输入的身份证号码非法,请确认"}).regexValidator({
//					regExp:"idcard",dataType:"enum",onError:"身份证号码格式错误"
//					}).ajaxValidator({
//					dataType : "json",
//					async : true,
//					url : "{:U('Admin/Users/checkLoginKey')}",
//					success : function(data){
//					var json = WST.toJson(data);
//					if( json.status == "1" ) {
//					return true;
//					} else {
//					return false;
//					}
//					return "该身份证号码已被使用";
//					},
//					buttons: $("#dosubmit"),
//					onError : "该身份证号码已存在。",
//					onWait : "请稍候..."
//					}).defaultPassed();
//					$("#userWebchat").formValidator({
//					onShow:"",onFocus:"请输入正确的微信号"
//					}).inputValidator({min:1,onError:"请输入微信号"}).ajaxValidator({
//					dataType : "json",
//					async : true,
//					url : "{:U('Admin/Users/checkLoginKey')}",
//					success : function(data){
//					var json = WST.toJson(data);
//					if( json.status == "1" ) {
//					return true;
//					} else {
//					return false;
//					}
//					return "该微信号码已被使用";
//					},
//					buttons: $("#dosubmit"),
//					onError : "该微信号码已存在。",
//					onWait : "请稍候..."
//					}).defaultPassed();
					$("#userEmail").inputValidator({min:0,max:25,onError:"你输入的邮箱长度非法,请确认"}).regexValidator({
					regExp:"email",dataType:"enum",onError:"邮箱格式错误"
					}).ajaxValidator({
					dataType : "json",
					async : true,
					url : "{:U('Admin/Users/checkLoginKey')}",
					success : function(data){
					var json = WST.toJson(data);
					if( json.status == "1" ) {
					return true;
					} else {
					return false;
					}
					return "该电子邮箱已被使用";
					},
					buttons: $("#dosubmit"),
					onError : "该账号已存在。",
					onWait : "请稍候..."
					}).defaultPassed().unFormValidator(true);

					$("#userQQ").formValidator({
					empty:true,onShow:"",onFocus:"QQ号码只能是数字"
					}).regexValidator({
					regExp:"num1",dataType:"enum",onError:"QQ号码格式错误"
					});

					$("#userPhone").blur(function(){
					if($("#userPhone").val()==''){
					$("#userPhone").unFormValidator(true);
					}else{
					$("#userPhone").unFormValidator(false);
					}
					});
					$("#userEmail").blur(function(){
					if($("#userEmail").val()==''){
					$("#userEmail").unFormValidator(true);
					}else{
					$("#userEmail").unFormValidator(false);
					}
					});
				});
				function edit(){
					var params = {};
					params.loginName = $.trim($('#loginName').val());
					params.loginPwd = $.trim($('#loginPwd').val());
					params.userName = $.trim($('#userName').val());
					params.userQQ = $.trim($('#userQQ').val());
					params.userIdcard = $.trim($('#userIdcard').val());
					params.userWebchat = $.trim($('#userWebchat').val());
					params.userStatus = $('input[name="userStatus"]:checked').val();
					params.userPhone = $.trim($('#userPhone').val());
					params.userSex = $('input[name="userSex"]:checked').val();
					params.userSex = 1;
					params.userEmail = $.trim($('#userEmail').val());
					params.level = $.trim($('#level').val());
					params.bdiraction = $.trim($('#bdiraction').val());
					params.parentId = $.trim($('#parentId').val());
					params.recommendId = $.trim($('#recommendId').val());
					Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
					$.post("{:U('Home/Members/add')}",params,function(data,textStatus){
						var json = WST.toJson(data);
						if(json.status=='1'){
							Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
								location.href='{:U("Home/Members/recommendAtlas")}';
							}});
						}else if(json.status=='-2'){
							Plugins.setWaitTipsMsg({content:'用户手机,微信号码或邮箱已存在!',timeout:1000});
						}else{
							Plugins.closeWindow();
							Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
						}
					});
				}
			</script>
		</if>
</html>
